.h2 {
  color: hsl(0, 0%, 100%);
  font-family: 'Oxanium', cursive;
  font-weight: bold;
  line-height: 1;
}

.sectionSubtitle,
.sectionTitle {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.sectionSubtitle {
  color: hsl(0, 0%, 78%);
  font-size: 1.4rem;
  font-weight: bold;
  margin-block-end: 10px;
}



.sectionTitle::after {
  content: url("/title-underline.png");
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.sectionTitle span{
  display: inline-block;
  color: var(--marigold);
}
